<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Inventory System{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="d-flex flex-column min-vh-100">

    <header>
        <nav>
            <a class="navbar-brand" href="{{ url_for('home') }}">Pallet Stack</a>
            <ul>
                <li>
                    <a href="{{ url_for('home') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('inventory') }}">Inventory</a>
                </li>
                <li>
                    <a href="{{ url_for('orders') }}">Orders</a>
                </li>
                <li>
                    <a href="{{ url_for('invoices') }}">Invoices</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Pallet Stack</p>
    </footer>

    <div id = "universalModal" class ="modal-overlay">
        <div class = "modal-content">

            <div class = "modal-header">
                <h2 id = "modalTitle" > Modal Title</h2>


            </div>
            <div id = "modalBody" class = "modal-body">
                <p>Modal content here....</p>
            </div>
            <div class = "modal-footer">
                <button id = "modalCancelBtn" class = "modal-btn-secondary" >Cancel</button>
                <button id = "modalConfirmBtn" class = "modal-btn-primary">Confirm</button>
            </div>
        </div>
    </div>



    {% block scripts %}
    {% endblock %}

</body>
</html>