{% extends 'base.html' %}

{% block title %}Inventory Dashboard{% endblock %}

{% block content %}
<div class="inventory-dashboard">
  
    <aside class="sidebar">
        <h2>Actions</h2>
        <button id="addInventoryButton" class="sidebar-btn">Add Inventory</button>
        <button id="searchInventoryButton" class="sidebar-btn">Search Inventory</button>
        <button id="deleteInventoryButton" class="sidebar-btn">Delete Inventory</button>
    </aside>

  
    <section class="main-content">
        <h2>Current Inventory</h2>

        <table id="inventoryTable">
            <thead>
                <tr>
                    <th>Pallet_ID</th>
                    <th>Pallet_Condition</th>
                    <th>Size</th>
                    <th>Inventory_Count</th>
                    <th>Price/Unit</th>
                </tr>
            </thead>
            <tbody id = "inventoryTableBody">


            </tbody>
        </table>

    </section> 

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='inventory.js') }}"></script>
{% endblock %}
