{% extends 'base.html' %}

{% block title %}Invoice Dashboard{% endblock %}

{% block content %}
<div class="inventory-dashboard">
    <aside class="sidebar">
        <h2>Invoice Actions</h2>
            <input type="text" id="invoiceSearchInput" class="search-box" placeholder="Search value">
            <select id="invoiceSearchType" class="search-type">
                <option value="invoice">Invoice ID</option>
                <option value="customer">Customer ID</option>
                <option value="order">Order ID</option>
            </select>
            <button id="searchInvoicesButton" class="sidebar-btn">Search Invoices</button>
            <hr class="sidebar-hr">
        <button id="AddInvoiceButton" class="sidebar-btn">Add Invoice</button>
        <button id="searchInvoiceButton" class="sidebar-btn">Search Invoices</button>
        <button id="printInvoiceButton" class="sidebar-btn">Print Invoice</button>
        <button id ="deleteInvoiceButton" class="sidebar-btn">Delete Invoice</button>
        </aside>

    <section class="main-content">
        <h2>Invoice Records</h2>

        <table id="invoiceTable">
            <thead>
                <tr>
                    <th>Invoice ID</th>
                    <th>Customer ID</th>
                    <th>Order ID</th>
                    <th>Order Price</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="invoiceTableBody">
                </tbody>
        </table>
    </section>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='invoice.js') }}"></script>
{% endblock %}