{% extends 'base.html' %}

{% block title %}Order Dashboard{% endblock %}

{% block content %}
<div class="inventory-dashboard"> <aside class="sidebar">
        <h2>Order Actions</h2>
        <button id="createOrderButton" class="sidebar-btn">Create Order</button>
        <button id="searchOrdersButton" class="sidebar-btn">Search Orders</button>
        <button id="deleteOrdersButton" class="sidebar-btn">Delete Orders</button>
        <button id="updateOrdersButton" class="sidebar-btn">Update Orders</button>
        </aside>

    <section class="main-content">
        <h2>Current Orders</h2>

        <table id="ordersTable">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Pallet ID</th>
                    <th>Customer ID</th>
                    <th>Order_Date</th>
                    <th>Total Cost</th>
                    <th>Order Quantity</th>
                </tr>
            </thead>
            <tbody id="order-table-body">
                </tbody>
        </table>
    </section>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/orders.js') }}"></script>
{% endblock %}